@media only screen and (max-width:800px) {
    /* #workGrid {
        display: flex;
        flex-direction: column;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns:1fr;
        grid-template-areas:
            "doiMockup"
            "infoArea"
            "CTA"
        ; 
        
    } */
   

    nav {
        display: flex;
        display: inline;
        flex-direction: column;
    }

    .footer {
        display:flex;
        flex-direction: column;
    }

    p {
        width: fit-content;
        margin: 24px;
        font-size: medium;
    }

    .flex {
        display:grid;
        flex-direction:row-reverse;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 0px;

    }
    /* .workGrid {
        display: flex;
        flex-direction: column;
        margin:36px;
    } */
 

}